/*
* foundation
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'm-plus-1m', sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*---base color----*/
/*---font color----*/
/*---font famliy----*/
/*
* layout
*/
@media screen and (min-width: 1024px) {
  body {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% 1fr;
        grid-template-columns: 80% 1fr;
    -ms-grid-rows: 217px 1fr 150px;
        grid-template-rows: 217px 1fr 150px;
  }
}

.l-header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.l-sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.l-main {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.l-footer {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

/*
* object
*/
.c-image__takeout {
  background-image: url("/image/takeout.jpg");
}

.c-image__eatin {
  background-image: url("/image/eatin.jpg");
}

.c-minus::after {
  content: "";
  background-color: #FFF;
  height: 2px;
  width: 40px;
  display: block;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .c-minus::after {
    width: 4vw;
  }
}

.c-minus-long::after {
  content: "";
  background-color: #FFF;
  display: block;
  height: 2px;
  width: 80px;
  margin-top: 20px;
}

@media screen and (min-width: 769px) {
  .c-minus-long::after {
    width: 8vw;
  }
}

.c-pagination-icon {
  font-size: 30px;
}

.p-menu {
  margin: 0 2.5vw 2.5vw;
}

@media screen and (min-width: 769px) {
  .p-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 5vw 5vw;
  }
}

.p-menu__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 95vw;
}

@media screen and (min-width: 769px) {
  .p-menu__image {
    width: 45vw;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-menu__image {
    width: 35vw;
  }
}

.p-menu__contener {
  background-color: #3c2b1c;
  color: #FFF;
  padding: 2.5vw;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 769px) {
  .p-menu__contener {
    width: 45vw;
    padding: 3vw;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-menu__contener {
    width: 35vw;
  }
}

.p-menu__contener__title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .p-menu__contener__title {
    font-size: 2vw;
  }
}

.p-menu__contener__caption {
  font-size: 16px;
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  .p-menu__contener__caption {
    font-size: 1.4vw;
  }
}

.p-menu__contener__text {
  font-size: 16px;
  line-height: 23px;
  width: 60vw;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .p-menu__contener__text {
    width: 25vw;
    margin-top: 1vw;
  }
}

.p-menu__contener__button {
  font-size: 16px;
  color: #707070;
  border: none;
  border-radius: 30px;
  height: 42px;
  width: 163px;
  margin: 40px auto;
}

@media screen and (min-width: 1024px) {
  .p-menu__contener__button {
    margin: 3vw auto 1vw;
  }
}

.p-branch__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-branch__menu__item {
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5vw;
  padding: 10px;
  width: 90vw;
  height: 170vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 769px) {
  .p-branch__menu__item {
    margin: 40px 1vw;
    padding: 20px;
    width: 42.5vw;
    height: 75vw;
  }
}

@media screen and (min-width: 1024px) {
  .p-branch__menu__item {
    margin: 60px 1vw;
    width: 36vw;
    height: 62vw;
  }
}

.p-branch__menu__item .p-branch__title {
  color: #FFF;
  font-family: 'roboto', sans-serif;
  font-size: 40px;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 1024px) {
  .p-branch__menu__item .p-branch__title {
    font-size: 3.5vw;
  }
}

.p-branch__menu__item:hover .p-branch__title {
  color: #a0a0a0;
}

.p-branch__menu__item:hover .p-branch__title span {
  background-color: #a0a0a0;
}

.p-branch__menu__item .p-branch__box {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  height: 161px;
}

@media screen and (min-width: 769px) {
  .p-branch__menu__item .p-branch__box {
    margin-top: 20px;
  }
}

.p-branch__menu__item .p-branch__box__title {
  color: #3c2a10;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 10px;
}

@media screen and (min-width: 1024px) {
  .p-branch__menu__item .p-branch__box__title {
    padding: 20px;
  }
}

.p-branch__menu__item .p-branch__box__text {
  color: #3c2a10;
  font-size: 16px;
  padding: 0 10px;
}

@media screen and (min-width: 1024px) {
  .p-branch__menu__item .p-branch__box__text {
    padding: 0 20px;
  }
}

.p-branch__menu__item + .p-branch__menu__item {
  margin-top: 0;
}

@media screen and (min-width: 769px) {
  .p-branch__menu__item + .p-branch__menu__item {
    margin-top: 40px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-branch__menu__item + .p-branch__menu__item {
    margin-top: 60px;
    margin-left: 2vw;
  }
}

.p-main-caption {
  color: #3c2a10;
  padding: 2.5vw;
}

@media screen and (min-width: 769px) {
  .p-main-caption {
    padding: 5vw 5vw 2.5vw;
  }
}

.p-main-caption__title {
  font-size: 28px;
}

.p-main-caption__text {
  font-size: 16px;
  margin-top: 2.5vw;
}

.p-footer__contener {
  height: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.p-footer__contener__image {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.p-footer__contener__text {
  color: #FFF;
  font-size: 20px;
}

.p-footer__contener__copylight {
  color: #FFF;
  font-size: 14px;
}

.p-gmenu__bg {
  display: none;
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  background-color: rgba(54, 53, 53, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  .p-gmenu__bg {
    position: static;
  }
}

.p-gmenu {
  opacity: 0;
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw;
  z-index: 200;
  height: 100%;
  background-color: #f2ede9;
  color: #707070;
}

@media screen and (min-width: 1024px) {
  .p-gmenu {
    -webkit-transition: none;
    transition: none;
    position: static;
    width: 100%;
    opacity: 1;
    display: block;
  }
}

.p-gmenu__contener {
  padding-top: 200px;
}

.p-gmenu__box {
  margin-left: 13%;
}

.p-gmenu__box__title {
  font-size: 24px;
  font-weight: bold;
  padding: 40px 0;
}

.p-gmenu__box__items > li {
  margin: 20px;
}

.is-open {
  position: fixed;
}

.is-open > .p-gmenu__bg {
  display: block;
  opacity: 1;
}

.is-open > .p-gmenu {
  display: block;
  opacity: 1;
}

.p-hamburger {
  -webkit-transition: opacity 300ms 0s ease;
  transition: opacity 300ms 0s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(250, 250, 250, 0);
  border: none;
  font-family: 'Roboto';
  font-size: 20px;
  color: #707070;
  font-weight: bold;
  padding: 15px;
}

@media screen and (min-width: 1024px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger:hover {
  color: #a0a0a0;
}

.p-hamburger::before, .p-hamburger::after {
  -webkit-transition: opacity 300ms 0s ease;
  transition: opacity 300ms 0s ease;
  opacity: 0;
  content: "";
  width: 45px;
  height: 6px;
  background: #707070;
  position: absolute;
  right: 15px;
  top: 50%;
  display: block;
  z-index: 2000;
}

.p-hamburger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.p-hamburger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.p-hamburger.is-open span {
  opacity: 0;
}

.p-hamburger.is-open::before, .p-hamburger.is-open::after {
  opacity: 1;
}

.p-hamburger.is-open:hover::before, .p-hamburger.is-open:hover::after {
  background: #a0a0a0;
}

/*
.p-hamburger.is-open {
    &::before,
    &::after {
        right: 15px;
    }
}
*/
.p-header {
  background-color: #fff7ef;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .p-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-header__title {
  color: #707070;
  font-size: 40px;
  padding: 36px 0;
}

@media screen and (min-width: 1024px) {
  .p-header__title {
    margin-left: 60px;
    font-size: 4vw;
  }
}

.p-main-header {
  position: relative;
}

.p-main-header__image {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.p-main-header__bg {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.p-main-header__title {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
  font-size: 36px;
  z-index: 3;
}

@media screen and (min-width: 1024px) {
  .p-main-header__title {
    font-size: 3.2vw;
  }
}

.p-main-header__text {
  z-index: 3;
  position: absolute;
  top: 65%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  .p-main-header__text {
    top: 53%;
    left: 19%;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-main-header__text {
    font-size: 1.4vw;
    left: 18%;
  }
}

.p-map {
  position: relative;
  overflow: hidden;
}

.p-map__image {
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 769px) {
  .p-map__image {
    height: 415px;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-map__image {
    height: 649px;
  }
}

.p-map__contener {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #00000071;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-map__contener__bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 415px;
  width: 100%;
  max-width: 950px;
}

@media screen and (min-width: 769px) {
  .p-map__contener__bg {
    height: 100%;
  }
}

.p-map__contener__title {
  color: #FFF;
  font-size: 30px;
  margin: 20px;
}

@media screen and (min-width: 769px) {
  .p-map__contener__title {
    margin: 40px;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-map__contener__title {
    margin: 60px;
    font-size: 2.8vw;
  }
}

.p-map__contener__text {
  color: #FFF;
  font-size: 14px;
  line-height: 33px;
  margin: 20px;
}

@media screen and (min-width: 769px) {
  .p-map__contener__text {
    margin: 40px;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-map__contener__text {
    margin: 60px;
    font-size: 1.2vw;
  }
}

.p-pagination {
  color: #707070;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 20px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .p-pagination {
    margin: 60px auto;
  }
}

.p-pagination .p-total-page {
  display: none;
  margin-right: 20px;
}

@media screen and (min-width: 769px) {
  .p-pagination .p-total-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .p-page {
    width: 500px;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-page {
    width: 600px;
  }
}

.p-page__item {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border: solid 1px;
}

@media screen and (min-width: 769px) {
  .p-page__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-page__prev a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-page__prev a div {
  margin-left: 10px;
}

@media screen and (min-width: 769px) {
  .p-page__prev a div {
    display: none;
  }
}

.p-page__next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-page__next a div {
  margin-right: 10px;
}

@media screen and (min-width: 769px) {
  .p-page__next a div {
    display: none;
  }
}

.this {
  background-color: #3c2a10;
  color: #FFF;
  border: solid #707070 1px;
}

.p-search-form {
  height: 46px;
}

@media screen and (min-width: 1024px) {
  .p-search-form {
    margin-right: 30px;
  }
}

.p-search-form__box {
  padding: 0;
  margin: 0;
  background-image: url("/image/search.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 50vw;
  height: 100%;
  border: solid 1px #707070;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .p-search-form__box {
    width: 20vw;
  }
}

.p-search-form__btn {
  width: 78px;
  height: 100%;
  border: solid 1px #707070;
  border-radius: 10px;
  background-color: #f2ede9;
  color: #707070;
  margin-left: 4px;
}

@media screen and (min-width: 1024px) {
  .p-search-form__btn {
    width: 5vw;
  }
}

.p-single {
  color: #3c2a10;
  font-size: 16px;
}

.p-single * {
  margin: 30px 5vw;
}

@media screen and (min-width: 769px) {
  .p-single * {
    margin: 60px 5vw;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-single * {
    margin: 60px 8vw;
  }
}

.p-single h2 {
  font-size: 28px;
}

@media screen and (min-width: 769px) {
  .p-single h2 {
    font-size: 36px;
  }
}

.p-single h3 {
  font-size: 24px;
}

@media screen and (min-width: 769px) {
  .p-single h3 {
    font-size: 28px;
  }
}

.p-single h4,
.p-single h5,
.p-single h6 {
  font-size: 20px;
}

.p-single > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  height: 35vw;
  width: 90vw;
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-single > img {
    width: 64vw;
    height: 28vw;
  }
}

.p-single__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40vw;
}

@media screen and (min-width: 1024px) {
  .p-single__flex-box {
    height: 25vw;
  }
}

.p-single__flex-box p {
  overflow: hidden;
}

.p-single__flex-box img {
  -o-object-position: top;
     object-position: top;
  -o-object-fit: contain;
     object-fit: contain;
  width: 43%;
}

.p-single__flex-box * {
  width: 44vw;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .p-single__flex-box * {
    width: 34vw;
  }
}

.p-single__iamge-box img {
  width: 80vw;
}

@media screen and (min-width: 1024px) {
  .p-single__iamge-box img {
    width: 50vw;
  }
}

.p-single__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-single__images img {
  width: 90vw;
  margin: 20px 0;
}

@media screen and (min-width: 769px) {
  .p-single__images img {
    width: 43vw;
  }
}

@media screen and (min-width: 769px) and (min-width: 1024px) {
  .p-single__images img {
    width: 20vw;
  }
}

.p-single ol li {
  margin: 0 5vw;
}

.p-single ul li {
  margin: 0 5vw;
}

.p-single__code {
  background-color: #f5f5f5;
}

.p-single table {
  border-collapse: collapse;
  text-align: left;
}

.p-single th,
.p-single td {
  font-weight: normal;
  padding: 20px;
  border: 1px solid #333;
  background-color: #f5f5f5;
  width: 55vw;
}

.p-single th {
  background-color: #f5f5f5;
  width: 35vw;
}

.p-single button {
  width: 90vw;
  max-width: 430px;
  height: 20vw;
  max-height: 105px;
  border: solid 1px #707070;
  border-radius: 10px;
}

.p-single__strong {
  margin-bottom: 100px;
}

.p-single__strong strong {
  margin: 0;
}

.p-single__qote-box {
  background-color: #f5f5f5;
  padding: 30px 20px;
}

.p-single__qote-box blockquote {
  margin: 0;
}

.p-single__qote-box cite {
  margin: 0;
  padding-top: 30px;
}

.u-fo_roboto {
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */