/*
 * foundation
 */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'm-plus-1m', sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*---base color----*/
/*---font color----*/
/*---font famliy----*/
/*
 * layout
 */
.l-header {
  background-color: #fff7ef;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
 * object
 */
.c-takeout__image {
  background-image: url("/image/takeout.jpg");
}

.c-eatin__image {
  background-image: url("/image/eatin.jpg");
}

.c-minus span {
  background-color: #FFF;
  height: 10px;
  width: 30px;
}

.p-branch__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-branch__menu__item {
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px auto 0;
  width: 90%;
  max-width: 356px;
  height: 642px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 769px) {
  .p-branch__menu__item {
    margin: 40px 0;
  }
}

.p-branch__menu__item .p-branch__title {
  color: #FFF;
  font-family: 'roboto', sans-serif;
  font-size: 40px;
  margin: 10px;
  position: absolute;
  top: 0;
}

.p-branch__menu__item .p-branch__box {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
}

.p-branch__menu__item .p-branch__box__title {
  color: #3c2a10;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 10px;
}

.p-branch__menu__item .p-branch__box__text {
  color: #3c2a10;
  font-size: 16px;
  padding: 0 10px 40px 10px;
}

@media screen and (min-width: 769px) {
  .p-branch__menu__item + .p-branch__menu__item {
    margin-left: 40px;
  }
}

.p-title {
  color: #707070;
  font-size: 40px;
  padding: 36px 0;
}

.p-footer__contener {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 150px;
  width: 100%;
}

.p-hamburger {
  display: none;
}

/*
.p-hamburger {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $colorA;
    position: relative;
    border: none;
    @include breakpoint(pc) {
        display: none
    }
    ;
    &::before,
    &::after {
        content: "";
        width: $btnWidth;
        height: $btnHeight;
        background: $colorB;
        position: absolute;
        left: calc( 50% - ( 25px / 2));
        display: block;
        transition: transform 0.2s;
    }
    &::before {
        top: 30%;
    }
    &::after {
        top: 70%;
    }
    >span {
        width: $btnWidth;
        height: $btnHeight;
        font-size: 0;
        background: $colorB;
        background-size: auto $btnHeight;
        position: absolute;
        left: calc( 50% - ( 25px / 2));
        top: 50%;
        transition: transform 0.2s;
    }
    &.is-open {
        background-color: $colorB;
        &::before {
            transform: rotate( 45deg);
            top: 25px;
            background: $colorA;
        }
        &::after {
            transform: rotate( -45deg);
            top: 25px;
            background: $colorA;
        }
        >span {
            background: none;
        }
    }
}

.p-plus {
    &::before {
        content: "";
        height: 2px;
        width: 25px;
        background-color: #333;
        position: absolute;
        top: 25px;
        right: 10px;
    }
    &::after {
        content: "";
        height: 2px;
        width: 25px;
        background-color: #333;
        position: absolute;
        top: 25px;
        right: 10px;
        transform: rotate(90deg);
    }
    &:hover {
        &::after {
            visibility: hidden;
        }
    }
}
*/
.p-main__header {
  position: relative;
}

.p-main__header__image {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-main__header__title {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
  font-size: 36px;
}

.p-search__form {
  height: 46px;
}

.p-search__form__box {
  padding: 0;
  margin: 0;
  background-image: url("/image/search.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 230px;
  height: 100%;
  border: solid 1px #707070;
  border-radius: 10px;
}

.p-search__form__btn {
  width: 78px;
  height: 100%;
  border: solid 1px #707070;
  border-radius: 10px;
  background-color: #f2ede9;
  color: #707070;
  margin-left: 4px;
}

.p-map {
  position: relative;
  margin-top: 40px;
}

.p-map__image {
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 769px) {
  .p-map__image {
    height: 415px;
  }
}

.p-map__contener {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #00000071;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-map__contener__bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 415px;
  width: 100%;
}

.p-map__contener__title {
  color: #FFF;
  font-size: 30px;
  margin: 40px;
}

.p-map__contener__text {
  color: #FFF;
  font-size: 14px;
  margin: 40px;
  line-height: 1.8;
}
/*# sourceMappingURL=style.css.map */