.p-branch {
    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__item {
            background-position: center;
            background-size: cover;
            object-fit: cover;
            margin: 20px auto 0;
            width: 90%;
            max-width: 356px;
            height: 642px;
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            @include breakpoint(tablet) {
                margin: 40px 0;
            }
            .p-branch__title {
                color: $h2Color;
                font-family: 'roboto', sans-serif;
                font-size: 40px;
                margin: 10px;
                position: absolute;
                top: 0;
            }
            .p-branch__box {
                background-color: rgba(255, 255, 255, .8);
                margin: 10px;
                &__title {
                    color: $h3Color;
                    font-size: 22px;
                    font-weight: bold;
                    padding: 20px 10px;
                }
                &__text {
                    color: $h3Color;
                    font-size: 16px;
                    padding: 0 10px 40px 10px;
                }
            }
        }
    }
}

@include breakpoint(tablet) {
    .p-branch__menu__item+.p-branch__menu__item {
        margin-left: 40px;
    }
}