.p-main-caption {
    color: $h3Color;
    padding: 2.5vw;
    @include breakpoint(tablet) {
        padding: 5vw 5vw 2.5vw;
    }
    &__title::first-line {
        font-size: 28px;
    }
    &__title {
        font-size: 16px;
        @include breakpoint(tablet) {}
    }
}