.p-footer__contener {
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &__image {
        position: absolute;
        height: 100%;
        z-index: -1;
        //display: none;
    }
    &__text {
        color: $h2Color;
        font-size: 20px;
    }
    &__copylight {
        color: $h2Color;
        font-size: 14px;
    }
}