.p-footer__contener {
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &__image {
        position: absolute;
        height: 100%;
        z-index: -1;
        //display: none;
    }
    &__copylight {
        color: $h2Color;
        font-size: 14px;
    }
}

.menu-footermenu-container {
    .menu {
        display: flex;
        justify-content: center;
        .menu-item {
            margin: 0 20px 15px;
            padding: 0;
            color: $h2Color;
            font-size: 20px;
            position: relative;
            &:first-child::before {
                display: none;
            }
            &::before {
                position: absolute;
                left: -20px;
                content: "";
                background-color: $h2Color;
                height: 36px;
                width: 3px;
                display: block;
            }
        }
    }
}