.p-gmenu__bg {
    display: none;
    transition: all 300ms 0s ease;
    background-color: rgba(54, 53, 53, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    opacity: 0;
    @include breakpoint(pc) {
        position: static;
    }
}

.p-gmenu {
    //opacity: 0;
    transition: all 300ms 0s ease;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 75vw;
    z-index: 200;
    height: 100%;
    background-color: $menuColor;
    color: $h1Color;
    @include breakpoint(pc) {
        transition: none;
        position: static;
        width: 100%;
        opacity: 1;
        display: block;
    }
    &::before,
    &::after {
        content: "";
        width: 45px;
        height: 6px;
        background: $h1Color;
        position: absolute;
        right: 15px;
        top: 30px;
        display: block;
        @include breakpoint(pc) {
            display: none;
        }
    }
    &::before {
        transform: rotate( 45deg);
    }
    &::after {
        transform: rotate( -45deg);
    }
    &__contener {
        padding-top: 200px;
        @include breakpoint(pc) {}
    }
    &__box {
        margin-left: 13%;
        &__title {
            font-size: 24px;
            font-weight: bold;
            padding: 40px 0;
        }
        &__items>li {
            margin: 20px;
        }
    }
}

.is-open {
    position: fixed;
    >.p-gmenu__bg {
        display: block;
        opacity: 1;
    }
    >.p-gmenu {
        left: 25vw;
    }
}