.p-hamburger {
    transition: opacity 800ms 0 ease;
    cursor: pointer;
    //postion
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    //color
    background-color: rgba(250, 250, 250, 0);
    border: none;
    //font
    font-family: 'Roboto';
    font-size: 20px;
    color: $h1Color;
    font-weight: bold;
    //余白
    padding: 15px;
    @include breakpoint(pc) {
        display: none;
    }
    &:hover {
        color: $hoverColor;
    }
    &.is-open {
        span {
            opacity: 0;
        }
        &:hover::before,
        &:hover::after {
            background: $hoverColor;
        }
    }
}