.p-hamburger {
    transition: opacity 300ms 0s ease;
    //postion
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    //color
    background-color: rgba(250, 250, 250, 0);
    border: none;
    //font
    font-family: 'Roboto';
    font-size: 20px;
    color: $h1Color;
    font-weight: bold;
    //余白
    padding: 15px;
    @include breakpoint(pc) {
        display: none;
    }
    &:hover {
        color: $hoverColor;
    }
    &::before,
    &::after {
        transition: opacity 300ms 0s ease;
        opacity: 0;
        content: "";
        width: 45px;
        height: 6px;
        background: $h1Color;
        position: absolute;
        right: 15px;
        top: 50%;
        display: block;
        z-index: 2000;
    }
    &::before {
        transform: rotate( 45deg);
    }
    &::after {
        transform: rotate( -45deg);
    }
    &.is-open {
        span {
            opacity: 0;
        }
        &::before,
        &::after {
            opacity: 1;
        }
        &:hover::before,
        &:hover::after {
            background: $hoverColor;
        }
    }
}


/*
.p-hamburger.is-open {
    &::before,
    &::after {
        right: 15px;
    }
}
*/