.p-header {
    background-color: $headerColor;
    height: 217px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(pc) {
        flex-direction: row;
        justify-content: space-between;
    }
    &__title {
        color: $h1Color;
        font-size: 40px;
        padding: 36px 0;
        @include breakpoint(pc) {
            margin-left: 60px;
            font-size: 4vw;
        }
    }
}