.p-pagination {
    color: $h1Color;
    font-size: 16px;
    display: flex;
    margin: 60px 20px 30px;
    justify-content: center;
    align-items: center;
    @include breakpoint(tablet) {
        margin: 60px auto;
    }
    .p-total-page {
        display: none;
        margin-right: 20px;
        @include breakpoint(tablet) {
            display: flex;
        }
    }
}

.p-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(tablet) {
        width: 500px;
        @include breakpoint(pc) {
            width: 600px;
        }
    }
    &__item {
        display: none;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border: solid 1px;
        @include breakpoint(tablet) {
            display: flex;
        }
    }
    &__prev {
        a {
            display: flex;
            align-items: center;
            div {
                margin-left: 10px;
                @include breakpoint(tablet) {
                    display: none;
                }
            }
        }
    }
    &__next {
        a {
            display: flex;
            align-items: center;
            div {
                margin-right: 10px;
                @include breakpoint(tablet) {
                    display: none;
                }
            }
        }
    }
}

.this {
    background-color: $h3Color;
    color: $h2Color;
    border: solid $h1Color 1px;
}