.p-single__wrapper {
    color: $h3Color;
    font-size: 16px;
    &>* {
        margin: 30px 5vw;
        @include breakpoint(tablet) {
            margin: 60px 5vw;
            @include breakpoint(pc) {
                margin: 60px 8vw;
            }
        }
    }
    h2 {
        font-size: 28px;
        @include breakpoint (tablet) {
            font-size: 36px;
        }
    }
    h3 {
        font-size: 24px;
        @include breakpoint(tablet) {
            font-size: 28px;
        }
    }
    h4,
    h5,
    h6 {
        font-size: 20px;
    }
    img {
        object-fit: cover;
        object-position: bottom;
    }
    ol {
        li {
            margin: 0 5vw;
        }
    }
    ul {
        li {
            margin: 0 5vw;
        }
    }
    table {
        border-collapse: collapse;
        text-align: left;
    }
    th,
    td {
        font-weight: normal;
        padding: 20px;
        border: 1px solid #333;
        background-color: #f5f5f5;
        width: 55vw;
    }
    th {
        background-color: #f5f5f5;
        width: 35vw;
    }
    // WordPress
    .wp-block-quote {
        background-color: #f5f5f5;
        padding: 30px;
        p {
            margin-bottom: 30px;
        }
        cite {
            margin-top: 30px;
        }
    }
    .wp-block-image {
        figure {
            img {
                object-fit: cover;
                object-position: bottom;
                height: 35vw;
                width: 90vw;
                @include breakpoint(tablet) {
                    @include breakpoint(pc) {
                        width: 64vw;
                        height: 28vw;
                    }
                }
            }
        }
    }
    .wp-block-media-text {
        figure {
            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}