.c-takeout__image {
    background-image: url("/image/takeout.jpg");
}

.c-eatin__image {
    background-image: url("/image/eatin.jpg");
}

.c-minus {
    span {
        content: "";
        background-color: $h2Color;
        height: 2px;
        width: 40px;
        display: block;
        margin-top: 10px;
        @include breakpoint(tablet) {
            width: 4vw;
        }
        &>span {
            width: 80px;
            margin-top: 20px;
            @include breakpoint(tablet) {
                width: 8vw;
            }
        }
    }
}