.c-image {
    &__takeout {
        background-image: url(../image/takeout.jpg);
    }
    &__eatin {
        background-image: url(../image/eatin.jpg);
    }
}

.c-minus {
    &::after {
        content: "";
        background-color: $h2Color;
        height: 2px;
        width: 40px;
        display: block;
        margin-top: 10px;
        @include breakpoint(tablet) {
            width: 4vw;
        }
    }
}

.c-minus-long {
    &::after {
        content: "";
        background-color: $h2Color;
        display: block;
        height: 2px;
        width: 80px;
        margin-top: 20px;
        @include breakpoint(tablet) {
            width: 8vw;
        }
    }
}

.c-pagination-icon {
    font-size: 30px;
}